body{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.main{
  height: 200px;
  width: 80%;
  background-color: aqua;
  border: 5px double blue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#para{
  height: 50px;
  width: 80%;
  font-family: 'Otomanopee One', sans-serif;
  border: 5px double blue;
  border-radius: 5px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}